@page "/"

@using BlazorApp.Components

<div class="container px-0 m-0" >
	<div class="row p-0" style="height:92vh; width: 96vw">
		<div class="col-4"> <!-- style="background-color:hotpink"> -->

			<!--MIRROR ALGORITHM BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Mirror algorithm
					<InfoTooltip Message="Mirror the left and right side of the image until it reaches the Ultrawide aspect ratio." />
				</h5>
				
				<!--BUTTONS-->
				<div class="d-flex gap-2">
					<button @onclick="OnClickSimpleMirrorBtn" type="button" class=@SetAlgorithmButtonsState("btn btn-? w-100", Algorithm.SimpleMirror))>
						Simple
						<InfoTooltip Message="Use this when you have an image with solid background color or repeating pattern." />
					</button>

					<button @onclick="OnClickBlurMirrorBtn" type="button" class=@SetAlgorithmButtonsState("btn btn-? w-100", Algorithm.BlurMirror))>
						Blurred
						<InfoTooltip Message="Use this when the Simple algorithm yields too many repeating pattern." />
					</button>
				</div>


				<!--BLUR OPTIONS-->
				@if (_algorithmChosen == Algorithm.BlurMirror)
				{
					<div class="mt-4 mb-2">
						<div class="row">
							<div class="col">
								<label for="blurStrenght" class="form-label m-0">
									Blur Strenght
									<InfoTooltip Message="Change the Gaussian Blur strenght." />
								</label>
							</div>
							<div class="col">
								<div class="text-end">
									@(_blurStrenght * 2)%
								</div>
							</div>
						</div>
						<input @oninput="OnInputBlurStrenght" id="blurStrenght" type="range" class="form-range" min="5" max="50" step="5" value="@_blurStrenght" />
					</div>

					<div class="form-check form-switch">
						<input checked="@true" disabled="@false" class="form-check-input" type="checkbox" role="switch" id="flexSwitch">
						<label class="form-check-label" for="flexSwitch">
							Apply blur transition?
							<InfoTooltip Message="Create a gradient transition from the blurred expanded area to the center of the image." />
						</label>
					</div>
				}
			</div>

			<!--UPSCALING BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Upscaling
					<InfoTooltip Message="Decide whether to upscale the image or not." />
				</h5>

				<!--BUTTONS-->
				<div class="btn-group d-flex" role="group" aria-label="Basic example">
					<button @onclick="OnClickUpscalingOriginalBtn" type="button" class=@SetUpscalingButtonsState("btn btn-? flex-fill", Upscaling.Original)>Original</button>
					<button @onclick="OnClickUpscalingTwoTimesBtn" type="button" class=@SetUpscalingButtonsState("btn btn-? flex-fill", Upscaling.TwoTimes)>2x</button>
					<button @onclick="OnClickUpscalingFourTimesBtn" type="button" class=@SetUpscalingButtonsState("btn btn-? flex-fill", Upscaling.FourTimes)>4x</button>
				</div>
			</div>

			<!--OUTPUT FORMAT BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Output format
					<InfoTooltip Message="Decide whether to save the output image with the same format or choose your own." />
				</h5>

				<!--BUTTONS-->
				<div class="btn-group d-flex" role="group" aria-label="Basic example">
					<button @onclick="OnClickFormatOriginalBtn" type="button" class=@SetFormatButtonsState("btn btn-? flex-fill", Format.Original)>Original</button>
					<button @onclick="OnClickFormatJpegBtn" type="button" class="@SetFormatButtonsState("btn btn-? flex-fill", Format.Jpeg)">JPEG</button>
					<button @onclick="OnClickFormatPngBtn" type="button" class="@SetFormatButtonsState("btn btn-? flex-fill", Format.Png)">PNG</button>
				</div>
			</div>

			<!--OUTPUT FOLDER LINK-->
			<div class="alert alert-light text-center" role="alert">
				Your images will be saved in 
				<code>
					<a href="#" @onclick="OnClickOpenOutputFolderAsync" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
						'MyPictures/Widerpaper'
						<i class="bi bi-box-arrow-up-right" style="font-size: 1rem"></i>
					</a>
				</code>
			</div>

			<!--CONVERT BUTTON-->
			<div class="d-grid mb-4">
				<button type="button" class="btn btn-primary">Convert to Ultrawide!</button>
			</div>
		</div>

		<div class="col" style="background-color:greenyellow">GREEN</div>
	</div>
</div>

