@page "/"

@using BlazorApp.Components

<div class="container px-0 m-0" >
	<div class="row p-0" style="height:92vh; width: 96vw">
		<div class="col-4"> <!-- style="background-color:hotpink"> -->

			<!--MIRROR ALGORITHM BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Mirror algorithm
					<InfoTooltip Message="Mirror the left and right side of the image until it reaches the Ultrawide aspect ratio." />
				</h5>
				
				<!--BUTTONS-->
				<div class="d-flex gap-2">
					<button @onclick="OnClickSimpleMirrorBtn" type="button" class=@SetAlgorithmButtonsState("btn btn-? w-100", Algorithm.SimpleMirror))>
						Simple
						<InfoTooltip Message="Use this when you have an image with solid background color or repeating pattern." />
					</button>

					<button @onclick="OnClickBlurMirrorBtn" type="button" class=@SetAlgorithmButtonsState("btn btn-? w-100", Algorithm.BlurMirror))>
						Blurred
						<InfoTooltip Message="Use this when the Simple algorithm yields too many repeating pattern." />
					</button>
				</div>


				<!--BLUR OPTIONS-->
				@if (_algorithmChosen == Algorithm.BlurMirror)
				{
					<div class="mt-4 mb-2">
						<div class="row">
							<div class="col">
								<label for="blurStrenght" class="form-label m-0">
									Blur Strenght
									<InfoTooltip Message="Change the Gaussian Blur strenght." />
								</label>
							</div>
							<div class="col">
								<div class="text-end">
									@(_blurStrenght * 2)%
								</div>
							</div>
						</div>
						<input @oninput="OnInputBlurStrenght" id="blurStrenght" type="range" class="form-range" min="5" max="50" step="5" value="@_blurStrenght" />
					</div>

					<div class="form-check form-switch">
						<input checked="@true" disabled="@false" class="form-check-input" type="checkbox" role="switch" id="flexSwitch">
						<label class="form-check-label" for="flexSwitch">
							Apply blur transition?
							<InfoTooltip Message="Create a gradient transition from the blurred expanded area to the center of the image." />
						</label>
					</div>
				}
			</div>

			<!--UPSCALING BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Upscaling
					<InfoTooltip Message="Decide whether to upscale the image or not." />
				</h5>

				<!--BUTTONS-->
				<div class="btn-group d-flex" role="group" aria-label="Basic example">
					<button @onclick="OnClickUpscalingOriginalBtn" type="button" class=@SetUpscalingButtonsState("btn btn-? flex-fill", Upscaling.Original)>Original</button>
					<button @onclick="OnClickUpscalingTwoTimesBtn" type="button" class=@SetUpscalingButtonsState("btn btn-? flex-fill", Upscaling.TwoTimes)>2x</button>
					<button @onclick="OnClickUpscalingFourTimesBtn" type="button" class=@SetUpscalingButtonsState("btn btn-? flex-fill", Upscaling.FourTimes)>4x</button>
				</div>
			</div>

			<!--OUTPUT FORMAT BLOCK-->
			<div class="alert alert-dark" role="alert">
				<!--BLOCK TITLE-->
				<h5 class="mb-4">
					Output format
					<InfoTooltip Message="Decide whether to save the output image with the same format or choose your own." />
				</h5>

				<!--BUTTONS-->
				<div class="btn-group d-flex" role="group" aria-label="Basic example">
					<button @onclick="OnClickFormatOriginalBtn" type="button" class=@SetFormatButtonsState("btn btn-? flex-fill", Format.Original)>Original</button>
					<button @onclick="OnClickFormatJpegBtn" type="button" class="@SetFormatButtonsState("btn btn-? flex-fill", Format.Jpeg)">JPEG</button>
					<button @onclick="OnClickFormatPngBtn" type="button" class="@SetFormatButtonsState("btn btn-? flex-fill", Format.Png)">PNG</button>
				</div>
			</div>

			<!--OUTPUT FOLDER LINK-->
			<div class="alert alert-light text-center" role="alert">
				Your images will be saved in 
				<code>
					<a @onclick="OnClickOpenOutputFolderAsync" class="icon-link icon-link-hover" href="#">
						'MyPictures/Widerpaper'
						<i class="bi bi-box-arrow-up-right" style="font-size: 1rem; position: relative; top: -4px;"></i>
					</a>
				</code>
			</div>

			<!--CONVERT BUTTON-->
			<div class="d-grid mb-4">
				<button type="button" class="btn btn-primary">Convert to Ultrawide!</button>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col"> <!-- style="background-color:greenyellow">-->
					<div id="display-drop-area" class="alert alert-light mb-4" style="position: relative">
						<InputFile class="drop-area" style="z-index: 1;"></InputFile>

						<div class="text-center" style="z-index: 0; position: absolute">
							<i class="bi bi-images text-secondary" style="font-size: 7.5rem; opacity: 20%"></i>

							<p class="mb-1"><span class="text-primary fw-bold">Click to browse</span> or drag an image here</p>
							<p><small>Supports: JPEG, JPG, and PNG up to 20 MB</small></p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<table class="table table-hover table-sm">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">File</th>
								<th scope="col">Original data</th>
								<th scope="col">Output data</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="align-middle">
									<button class="btn">
										<i class="bi bi-trash-fill text-danger"></i>
									</button>
								</td>
								<td>
									<figure class="figure mb-1">
										<figcaption class="figure-caption mb-2">Taylor Swift.jpg</figcaption>
										<img src="images/57.jpg" class="figure-img img-fluid rounded mb-0" alt="...">
									</figure>
								</td>
								<td>
									1366 x 768 px
									<br />
									1.1 MP
									<br />
									105 KB
								</td>
								<td>
									5464 × 3072 px
									<br />
									16.8 MP
									<br />
									1.5 MB
								</td>
								<td>
									Ready
								</td>
							</tr>

							<tr>
								<td class="align-middle">
									<button class="btn">
										<i class="bi bi-trash-fill text-danger"></i>
									</button>
								</td>
								<td>
									<figure class="figure mb-1">
										<figcaption class="figure-caption mb-2">1989.jpg</figcaption>
										<img src="images/1.png" class="figure-img img-fluid rounded mb-0" alt="...">
									</figure>
								</td>
								<td>
									1366 x 768 px
									<br />
									1.1 MP
									<br />
									105 KB
								</td>
								<td>
									5464 × 3072 px
									<br />
									16.8 MP
									<br />
									1.5 MB
								</td>
								<td>
									Ready
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

